body {
    background-color: #230716;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Kanit, sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#demo {
    overflow: hidden;
    width: 800px;
    height: 350px;
    visibility: hidden;
    position: relative;
    /* border:1px solid red; */
}

h1 {
    position: absolute;
    width: 800px;
    text-align: center;
    line-height: 300px;
    color: white;
    font-size: 70px;
    font-weight: 400;
    color: #ccc;

    font-family: kanit;
    font-style: italic;
    font-weight: 500;
}
