body {
    background-color: #131313;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Creepster", cursive;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#demo {
    visibility: hidden;
    text-align: center;
}

h1 {
    color: white;
    letter-spacing: 6px;
    margin: 0;
    font-size: 16vw;
    font-weight: 400;
    flex: 1;
    align-self: flex-end;
}

button {
    border-radius: 10px;
    background: #fc3;
    color: #06c;
    font-size: 14px;
    padding: 10px;
    border: none;
    font-weight: bold;
}
button:focus {
    outline: none;
}
