* {
    position: relative;
}

body {
    font-family: sans-serif;
    display: flex;
    gap: 100px;
}
#demo {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

p {
    font-size: 1.4em;
}
.line {
    position: absolute;
    width: 1px;
    height: 500px;
    left: 250px;
    background: black;
}

.box {
    position: absolute;
    /* width: 50px;
    height: 50px; */

    /* third */
    width: 100px;
    height: 100px;
    background: dodgerblue;
    border-radius: 10px;
    /* left: 225px; */
    /* third */
    left: 200px;
    top: 225px;
    /* third */
    top: 200px;
}

.box path {
    fill: white;
}

.box svg {
    transform: scale(0.8);
}

.box,
.line {
    pointer-events: none;
}
