body,
html {
    width: 100%;
    height: 100%;
    font-family: kanit;
}

body {
    display: flex;
    justify-content: center;
    background: #1d1d1d;
    overflow: hidden;
}
.wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxes {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #2d2d2d;
}

.box {
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/face-bg.svg);
}

.hermanWrapper {
    background: #2d2d2d;
    display: flex;
    color: white;
    height: 80px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quote {
    font-size: 1.8em;
    margin-left: 40px;
}
.nav {
    height: 80px;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 21px;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    margin: 10px;
}
button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}
button:active {
    position: relative;
    top: 1px;
}

.blue {
    background-color: #6699fc;
}

.pink {
    background-color: #f69;
}

.yellow {
    background-color: #ffcc33;
}
