html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
}

.banner {
    /* visibility:hidden; */
    width: 300px;
    overflow: hidden;
    height: 250px;
    background: red;
    position: relative;
    background-color: #c36;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/wash-hands-bg.svg);
}

h2 {
    font-family: Kanit;
    color: white;
    margin: 0;
    font-weight: 800;
    font-size: 39px;
}
img {
    position: absolute;
    left: 100px;
    top: 50px;
}
.heading-wrapper {
    position: relative;
    top: 150px;
    text-align: center;
}
h2 span:nth-child(2) {
    color: #0cf;
}

h2 span {
    display: inline-block;
}

.panel {
    position: absolute;
    width: 300px;
    height: 250px;
}

.panel2 {
    left: 300px;
}

.panel3 {
    left: 600px;
}

.panel4 {
    left: 900px;
}

.panel4 svg {
    position: absolute;
}

.panel4 h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1px;
}

.panel4 .heading-wrapper {
    top: 95px;
}
