body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

line {
    stroke-width: 1px;
    stroke: #ccc;
}

svg.demo {
    width: 500px;
    height: 400px;
}

.pink {
    fill: rgb(252, 183, 211);
}

.blue {
    fill: rgb(183, 241, 252);
}
