body,
html {
    font-family: sans-serif;
    background: #333;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40vh;
}
