* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
}
