body {
    background-color: #131313;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#demo {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 400;
}

@media only screen and (max-width: 540px) {
    h1 {
        font-size: 40px;
    }
}
