html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

body {
    font-size: 1.6em;
    line-height: 1.6em;
}

section {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.ad_content {
    width: 584px;
}

.logo,
.tagline {
    overflow: hidden;
}

.ccc,
.tagline_text {
    margin: 0;
    text-align: center;
    width: 584px;
}

.ccc {
    line-height: 60px;
    background: #f39;
    font-size: 40px;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.tagline_text {
    font-size: 22px;
    color: #1d1d1d;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.ad_wrapper {
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #1d1d1d;
    align-items: center;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.4);
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
}

h2 {
    line-height: 1.1em;
}
