body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
}
.demo {
    border: 1px solid #333;
    width: 45vmax;
    margin: 50px;
    overflow: hidden;
}
