@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&family=Staatliches&display=swap");

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #12171b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

* {
    position: relative;
}

.rotatingHeader {
    width: fit-content;
    white-space: nowrap;
}

.rotatingHeader h1 {
    font-family: "Saira Extra Condensed", sans-serif;
    color: #444;
    font-size: 100px;
    margin: 0;
    padding: 0;
    line-height: 1;
    perspective: 600px;
}

.rotatingHeader h1:nth-child(2) {
    color: #efefef;
}
