body {
    height: 100%;
    margin: 0;
    background: #1d1d1d;
    text-align: center;
}

#curve {
    stroke: #f39;

    fill: none;
}

path {
    stroke-width: 8px;
}

.demo {
    opacity: 0;
    max-width: 700px;
}
